/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2017, 11:28:12 AM
    Author     : quinn
*/
body,html{
    margin: 0px;
    font-family: Helvetica;
    background-color: lightblue;
}

header{  
    background-color: #222222;
    color: white;
    padding-top: 15px;
    border-bottom: large black;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .5); 
    height: 50px;    
    text-align:left;
    
}

header img{
    height: 50px;
    width: 50px;
}

h1{
    font-size: 1.6em;
    font-family: Helvetica;
    font-weight: normal;
    margin: 0px;
    margin-left: 15px;
}

h2{
    margin-bottom: 10px;
}

.form {
    margin: 15px auto auto 0px;
}

.form p {
    font-size: 14px;    
    margin: 2px;
}
form > p{    
    color: black;
    padding-bottom: 15px;
}

.form input{
    margin-bottom: 10px;
    margin-top:2px;
}

#signin {
    display:block;
    height: 250px;
    width: 200px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    width: 50%;
    text-align: center;    
    align-content: center;  
    margin: 40px auto 0px;
}

#signup {
    display:none;
    height: 400px;
    width: 200px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    width: 50%;
    text-align: center;    
    align-content: center;  
    margin: 40px auto 0px;
}
.button{    
    display:block;
    margin: 5px auto;
    cursor: pointer;
    border-radius: 4px;
    border-width: 1px;
    height: 40px;
    width: 80px;
    border-style:solid;    
    border-color: white;
    background-color: royalblue;
    color: white;    
}

.button:hover{     
    border-color: royalblue;
    background-color: white;
    color: royalblue;    
}

#toggleMessage {
    margin-top: 15px;
    color: black;   
    cursor: pointer;
    text-align: center;
}

#toggleMessage:hover{
    text-decoration: underline;
}