div{
    padding:5%;
}
h1{
    padding-left: 5%;
    padding-top: 5%;
}
input{
    /* padding-top: 4px;
    padding-bottom:4px; */
    border: 0px solid
    
}
.tagAdd{
    padding-top: 1px;
}
.id{
    display:none;
}