doctype html
//
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
html
  head
    title GTA
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='style.css')
    script(src='/javascripts/vue.js')
  body
    header
      h1 Graphical Tagging Application
    .form
      form#signin(action='/singin', method='POST')
        h2(onclick='changeColor()') Sign In
        p Sign in to your account
        br
        input(type='text', name='emailName', placeholder='Email...')
        br
        input(type='password', name='passwordName', placeholder='Password...')
        br
        input.button(type='submit', value='Sign In')
        br
      form#signup(action='/signup', method='POST')
        h2(onclick='changeColor()') Sign Up
        p Enter the following to get started
        br
        input(type='text', name='firstName', placeholder='First Name...')
        br
        input(type='text', name='lastName', placeholder='Last Name...')
        br
        input(type='text', name='username', placeholder='Username...')
        br
        input(type='text', name='emailName', placeholder='Email...')
        br
        input(type='password', name='passwordName', placeholder='Password...')
        br
        input(type='password', name='confirmPassord', placeholder='Confirm Password...')
        br
        input.button(type='submit', value='Sign Up')
        br
      br
      p#toggleMessage(onclick="displayForm('signup')") Don't have an account? Sign Up.
