doctype html
//
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
html
  head
    title GTA
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(link rel="icon", type="image/png", href="https://i.imgur.com/sM81cRp.png")
    script(src='https://unpkg.com/vue')
  body
    header
      h1 Graphical Tagging Application
    form#sample(action='/', method='POST')
      h2 Sample Form 1
      p Enter the following data to create a sample form submission to the server.
      br
      input(v-model='firstName', type='text', name='firstName', placeholder='First Name...')
      br
      input(v-model='lastName', type='text', name='lastName', placeholder='Last Name...')
      br
      input(v-model='email', type='text', name='email', placeholder='Email...')
      br
      input(v-model='password', type='password', name='password', placeholder='Password...')
      br
      input(v-model='confirmPassword', type='password', name='confirmPassword', placeholder='Password...')
      br
      input#submitButton(type='submit', value='Submit')
      #displayData
        p
          span First Name:
          | {{ firstName }}
        p
          span Last Name:
          | {{lastName}}
        p
          span Email Address:
          | {{email}}
        br
    script(src='/javascripts/vue.js')
