doctype html
html
  head
    title= title
    link(rel='icon', type='image/png', href='https://i.imgur.com/sM81cRp.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
